p {
  margin: 0;
}

.task-container {
  display: grid;
  gap: 14px;
  height: 170px;
  width: 250px;
  background-color: #fff;
  padding: 24px;
  margin: 24px;
  box-shadow: 0 30px 60px rgba(32, 56, 85, 0.15);
  border-radius: 12px;
}

.taskHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.id {
  color: #b9b9b9;
  font-weight: 700;
  line-height: 16px;
  font-size: 14px;
}

.taskFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* Utility classes */
.bold {
  font-weight: 700;
}

.fs-16 {
  font-size: 16px;
}

.fc-light-grey {
  color: #999999;
}
