.status {
  padding: 10px;
  border-radius: 12px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
}

.grey {
  color: #808080;
  background-color: #f2f2f2;
}

.green {
  color: #00c271;
  background-color: #effff9;
}

.blue {
  color: #3754db;
  background-color: #f2f4fd;
}
.yellow{
    color: #df9a00;
    background-color: #fffcef;
}
