.form-container {
  background-color: white;
  box-shadow: 0 30px 60px rgba(32, 56, 85, 0.15);
  padding: 0.5rem 0.5rem;
  max-height: 60%;
  margin: 2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
.panel-container {
  display: flex;
  justify-content: space-between;
}
.text-container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.subtitle {
  color: #6d6c6c;
  size: 1rem;
}
.title {
  color: #101c56;
  font-size: 28px;
  margin: 0;
}
