.viewer-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  background-color: #f3f3fb;
  height: 100vh;
  width: 100vw;
  margin: 2rem;
  padding: 3rem;
  border-radius: 1rem;
}

.tasks-container {
  display: flex;
  flex-wrap: wrap;
}
