.page-container {
  /* display: grid;
  grid-template-columns: auto minmax(20%, 15rem); */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  gap: 1rem;
}

.form-container {
  background-color: white;
  box-shadow: 0 30px 60px rgba(32, 56, 85, 0.15);
  padding: 0.5rem 0.5rem;
  max-height: 60%;
  margin: 2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
